#userCardCollection {
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
}

.userCard {
    background-color: white;
    text-align: center;
    width: 28rem;
    height: auto;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 5px;
}

.userCard:hover {
    cursor: pointer;
    transition: transform 200ms, box-shadow 200ms;
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

#userCardPFPdiv > img {
    padding-top: 20px;
    width: 50px;
    border-radius: 50%;
}

#userCardText {
    text-align: center;
}

#userCardUsername {
    font-size: large;
}

#userCardTag {
    font-size: small;
    color: darkslategray;
}

.userCardbot {
    margin: 0 auto;
    width: 7rem;
    border-radius: 10%;
    color: white;
    font-weight: bolder;
    height: 20%;
}